<%- include("templates/header") %>
    create room
    <form action='/publishGroup' method='post'>
        <input name='roomname' type='text' placeholder='enter a room name' required>
        <div class="checkbox-list">
            <% userResults.forEach(user=> { %>
                <label>
                    <input type="checkbox" name="selectedUsers" value="<%= user.user_id %>">
                    <%= user.username %>
                </label><br>
                <% }); %>
        </div>
        <button>Create Group</button>
    </form>