<%- include("templates/header") %>
    create user
    <form action='/signup' method='post'>
        <input name='username' type='text' placeholder='username'>
        <input name='password' type='password' placeholder='password'>
        <button>Submit</button>
    </form>
    <% if (missingusername) { %>
        <br> Missing Username
        <% } else if (missingpassword){ %>
            <br> Missing Password
            <% } else if (invalidpassword) { %>
                <br> Invalid password. Your password should contain 10 >= characters, with at least one uppercase
                character, number and symbol ; valid symbols : !@#$%^&*?_
                <% } %>
                    <%- include("templates/footer") %>